
img{
    max-width: 100%;
    height: auto;
}

.logo {
    width: 45px;
}

.logo-part span{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.header-part{
    padding: 30px 0px;
}

.button1 {
    margin-top: 13px;
    text-align: end;
}

.button1 button {
    color: #2c42df;
    border: 1px solid #2c42df;
    font-weight: bold;
    padding: 5px 17px;
    border-radius: 6px;
}

#header-part{
   
    position: sticky;
  
}

.menu-part{
    margin-left: 147px;
    
}

#hero-part{
    background: url(../Mobirise/Photo/mbr-10.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0px;
    
}

.hero-contant1 p {
    color: white;
    font-size: 25px;
}

.hero-contant2 h1 {
    color: white;
    margin-bottom: 73px;
}

.email {
    padding: 15px 15px;
    border: none;
   
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.get-app {
    padding: 15px 80px;
    border: none;
    background-color: #22f908;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.activity-contant {
    padding-top: 130px;
    
}

.activity-contant .lead {
    padding-top: 37px;
}

.header-point-img img {
    height: 260px;
}

.footer-contant{
    padding: 0px 100px;
}